# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# IDE/editor folders
.idea/
.vscode/

# System files
Thumbs.db
.DS_Store
